  :root {
     --preto: #000000;
     font-size: 'Popin', 'sans serif' ;
     --branco:#FFFFFF;
  }
  
  body {
    backgorund-color: var(--preto);
    color: var(--branco);
    font-size: var(--font-size);

    

    }


  